header{
    background-color: #FA664C;
    color: white;
    height: auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    font-size: 1.1rem;
    padding: 12px;
}

#left-container, #right-container, #user-actions{
    display: flex;
    align-items: center;
    justify-content: center;

}

#right-container{
    margin-right: 20px;
    gap: 50px;
}

#user-actions{
    gap:5px
}

#arrow-down{
    margin-top: 4px;
    margin-left: 10px;
}

#notification-icon{
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

ul{
    display: flex;
    gap: 30px
}

.user-icons{
    width: 30px;
    height: 30px;
}
