body{
    background-image: url("/login-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100dvh;
}

main{
    width: 23%;
    height: 350px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 4px 2px rgba(77, 76, 76, 0.25);
    padding: 25px;
    font-size: 12px;
}

h1{
    margin-bottom: 35px;
    font-size: clamp(0.875rem, 2vw + 1rem, 1.875rem);;
}

label, .ultimo{
    margin-bottom: 5px;
}

input{
    margin-bottom: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    padding: 5px;
}



.sign-button{
    background-color: #FA664C;
    color: white;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    border-style: none;
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#password-link{
    display: block;
    font-size: 10px;
    text-align: end;
}

p{
    color: #FA664C;
    font-size: 12px;
}





@media (max-width: 500px){

    main{
        width: 60%;
        height: 380px;
    }
    
}

@media (max-width: 320px){

    main{
        width: 60%;
        height: 350px;
    }
    .sign-button{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
}