body{
    background-image: url("/login-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100dvh;
}

main{
    width: 60%;
    height: 440px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 4px 2px rgba(77, 76, 76, 0.25);
    padding: 25px;
    font-size: 12px;
}

h1{
    margin-bottom: 35px;
    font-size: clamp(0.875rem, 2vw + 1rem, 1.875rem);;
}





div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 130px;
}

#password-link{
    display: block;
    font-size: 10px;
    text-align: end;
    margin-bottom: 10px;
    font-weight: 300;
    color: black;
}



@media (min-width: 500px){
    main{
        width: 50%;
    }
}

@media (min-width: 600px){
    main{
        width: 40%;
    }
}


@media (min-width: 768px){
    main{
        width: 35%;
    }
}


@media (min-width: 940px){
    main{
        width: 30%;
    }
}

@media (min-width: 1100px){
    main{
        width: 25%;
        height: 450px;
        font-size: 14px;
    }
    
}

@media (max-width: 320px){
    main{
        width: 65%;
        height: 360px;
    }

    .sign-button{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
}





