main{
    width: 100%;
    height: 100dvh;
    display: flex;
    
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}


#right-section {
   width: 32%;
}





h1{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 8px;
}

h3{
    font-size: 15px;
    text-align: center;
    font-weight: 300;
    color: #C2C2C2;
    margin-bottom: 25px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}




input{
    width: 400px;
}



button{
    width: 150px;
    margin-top: 10px;
    margin-bottom: 20px;
}
